:root {
    --big-font: 'Dela Gothic One', cursive;
    --cursive: 'Dancing Script', cursive;

    --black: #1B1A17;
    --yellow: #F0A500;
    --orange: #E45826;
    --offwhite: #E6D5B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--cursive);
}

header {
    padding-inline: 2rem;
    background-color: var(--black);
    color: var(--offwhite);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

h3 {
    background-color: var(--yellow);
    color: var(--black);
    font-size: 1.5rem;
    width: max-content;
}

h3,
.navbar li {
    font-family: var(--big-font);
}

.navbar li:hover {
    color: var(--orange);
    cursor: pointer;
}

ul,
ul li {
    list-style: none;
    text-indent: 0;
    font-size: 0.875rem;
}

ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    outline: none;
    border: 5px solid var(--yellow);
    background-color: var(--yellow);
    padding: .3rem;
    cursor: pointer;
}

button:hover {
    border: 5px solid var(--orange);
}
